body {
    padding: 0;
    overflow:Scroll;
    overflow-x:hidden
}
.back {
    min-height: 700px;
    background-color: whitesmoke;
    background-size: 100% 100%;
    margin: 0;
}
.top {
    height: 314px;
    padding: 0;
    background-color: #0c7cd5;
    background-image: url("../../image/background/codelife.png");
}
#user {
    position: relative;
    left: 100px;
    top:62px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;

}
/*用户昵称*/
#user >a {
    font-size: 25px;
    color: white;
}
#user >a:hover {
    text-decoration: none;
    color: #0c7cd5;
}
.main a:link {
    color: #00a0e9;
}
.main a:visited {
    color: #00a0e9;
}
a {
    text-decoration: none;
}
.main a:hover{
    color: #0c7cd5;
    text-decoration: none;
}
#user>img {
    width: 100px;
    height: 100px;
}
#logo {
    position:absolute;
    left: 15px;
    top: 15px;
}
#logo>a>img {
    width: 100px;
}
.line {
    height: 20px;
    width: 100%;
    background-color: white;
}
.child_line {
    height: 1px;
    width: 100%;
    border-radius:10%;
    background-color:darkseagreen;
    padding: 1px;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: lightskyblue;
}
.nav>li {
    font-size: 15px;
    float: left;
}

.nav>li>a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav>li>a:hover {
    color:lightskyblue;
    background-color: white;
}
#center {
    overflow: hidden;
}
#myblog {
    float: left;
    width: 80%;

}
#info {
    float: left;
    background-color: white;
    width: 15%;
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
}
#info>h3 {
    text-align: center;
}
.main {
    border-style: solid;
    width: 80%;
    padding: 10px;
    margin: 10px;
    border-bottom-width: 3px;
    border-right-width: 3px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-color: grey;
    border-bottom-color: grey;
    background-color: lightgoldenrodyellow;
}
#title >h4>a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
    font-style: inherit;
}
#time_nick {
    color:dimgrey;
}
.bottom {
    overflow: hidden;
    background-color: floralwhite;
    color: grey;
}
#friend_link {
    float: left;
    padding: 15px;
    width: 50%;
}
#friend_link>a:link {
    color: grey;
    text-decoration: none;
}
#friend_link>a:visited {
    color: grey;
}
#friend_link>a:hover {
    color: grey;
}
#friend_link>a:active {
    color: grey;
}
#communication {
    float: left;
    padding: 15px;
    width: 50%;
}
li {
    list-style: none;
}