<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.dao.BlogDao">
     <resultMap id="blogMap" type="blog">
         <id property="blogId" column="id"></id>
         <result property="title" column="title"></result>
         <result property="blogAbstract" column="abstract"></result>
         <result property="time" column="time"></result>
         <result property="content" column="content"></result>
         <result property="visited" column="visited"></result>
     </resultMap>
     <select id="findAllBlog" resultMap="blogMap">
         select * from blog
     </select>

     <select id="findBlogById" resultMap="blogMap">
         select * from blog where id=#{id};
     </select>

     <insert id="addBlog" parameterType="com.blog.entity.Blog">
         insert into blog (title, abstract, visited, content, time) values (#{b.title},#{b.blogAbstract},#{b.visited},#{b.content},#{b.time})
     </insert>

     <update id="updateBlog" parameterType="com.blog.entity.Blog">
         update blog set title=#{title},abstract=#{blogAbstract},visited=#{visited},content=#{content},time=#{time} where id=#{blogId}
     </update>

     <delete id="deleteBlogById">
         delete from blog where id=#{id}
     </delete>
</mapper>