body {
    padding: 0;
}
.back {
    min-height: 800px;
    background-image: url("../jquery-easyui-1.8.6/themes/icons/newbackground.jpg") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 15px;
    margin: 0;
    background-attachment: fixed;
}
.top {
    overflow: hidden;
}
#logo>a>img {
    width: 100px;
    float: left;
}
#user {
    float: right;
}
#user>#login,#create {
    width:70px;
    height:32px;
}
#tool {
    display:none;
}
#user>#nickname {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
    color: black;
    text-shadow: 5px 5px 6px rgba(0,0,0,.3);
}
.blog {
    overflow: hidden;
    width: 60%;
    margin: 15px auto;
}
.main {
    border-width: 2px;
    border-style: solid;
    width: 80%;
    padding: 10px;
    margin: 10px;
}
.main a:link {
    color: #00a0e9;
}
.main a:visited {
    color: #00a0e9;
}
a {
    text-decoration: none;
}
.main a:hover{
    color: #0c7cd5;
    text-decoration: none;
}
#title >h4>a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
    font-style: inherit;
    padding: 0;
}
#title >h4 {
    margin: 0;
}
#time_nick {
    color:dimgrey;
}
#pagenav {
    width: 60%;
    padding: 10px;
    margin: 10px;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}
.bottom {
    overflow: hidden;
    background-color: whitesmoke;
    color: grey;
}
li {
    list-style-type: none;
}
#friend_link {
    float: left;
    padding: 15px;
    width: 50%;
}
#friend_link>a:link {
    color: grey;
    text-decoration: none;
}
#friend_link>a:visited {
    color: grey;
}
#friend_link>a:hover {
    color: grey;
}
#friend_link>a:active {
    color: grey;
}
#communication {
    float: left;
    padding: 15px;
    width: 50%;
}